<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    {% extends 'todo/base.html' %}
    {% block content%}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row justify-content-center mt-5">
            <div class="col-md-7 text-center">
                <h1>Создайте свой список задач. Вперед!</h1>
                <p>Жизнь веселая. Но жизнь тоже занята. Есть миллион разных вещей, которыми вы могли бы заниматься.
                    Но важно то, <u>какие</u> вы делаете. Мы создали <b><i>Список задач</i></b>
                    чтобы помочь вам понять все ваши возможности и жить той жизнью, которая важнее всего для вас.
                    Ваша новая организованная жизнь ждет.</p>
                <a role="button" class="btn btn-primary btn-lg" href="{% url 'signup_user' %}">Создать!</a>
            </div>
        </div>

    {% endblock %}
</body>
</html>